@import url(../Constants.css);

.chat-container {
  display: flex;
  align-items: center;
  padding: var(--p-1) var(--p-2);
  gap: var(--gap);
  color: var(--color-white);
  cursor: pointer;
}

.chat-container > img {
  height: var(--ht-img-1);
  width: var(--ht-img-1);
  border-radius: var(--br);
  object-fit: cover;
}

.chat-info > span {
  font-size: var(--fs-1);
  font-weight: bold;
}

.chat-info > p {
  font-size: var(--fs-2);
  line-height: 1;
  overflow: hidden;
  color: var(--color-2);
}

.chats :hover {
  background-color: var(--color-3);
}
