.chat-container {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  color: white;
  cursor: pointer;
}

.chat-container > img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.chat-info > span {
  font-size: 24px;
  font-weight: bold;
}

.chat-info > p {
  font-size: 18px;
  line-height: 1;
  overflow: hidden;
  color: rgb(175, 175, 175, 175);
}

.chats :hover {
  background-color: blue;
}
