.message {
  display: flex;
  gap: var(--gap);
  margin-bottom: var(--m-2);
}

.message-info {
  display: flex;
  flex-direction: column;
  color: gray;
}

.message-info > img {
  height: var(--ht-img-2);
  width: var(--ht-img-2);
  border-radius: var(--br);
  object-fit: cover;
}

.message-content {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  max-width: 80%;
}

.message-content > p {
  font-size: var(--fs-text);
  padding: var(--p-1) var(--p-2);
  border-radius: 0 var(--br) var(--br) var(--br);
  background-color: var(--color-2);
}

.owner {
  flex-direction: row-reverse;
}

.owner > .message-content > p {
  font-size: var(--fs-text);
  color: white;
  border-radius: var(--br) 0 var(--br) var(--br);
  background-color: var(--color-3);
}
