@import url(../Constants.css);

.search-box {
  margin: var(--m-1) var(--m-2);
  background-color: var(--color-3);
  border-radius: var(--br);
}

.search-box-container {
  padding: var(--p-1) var(--p-2);
}

.search-box-container > input {
  width: 100%;
  background-color: transparent;
  border: none;
  color: white;
  font-size: var(--fs-1);
}
