.text-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background-color: #fff;
  border-radius: 40px;
  padding: 1%;
  margin: 20px;
  border: 1px solid black;
}

.text-box > input {
  width: 85%;
  border: none;
  outline: none;
  color: rgb(73, 141, 163);
  font-size: 24px;
  border: 1px solid black;
}

.send {
  display: flex;
  align-items: center;
  justify-content: right;
  height: 40px;
  width: 15%;
  gap: 10px;
  border: 1px solid black;
  border-radius: 20px;
}

.send > label > img {
  height: 30px;
  width: 30px;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50px;
  cursor: pointer;
  border: 1px solid black;
}

.send > button {
  height: 40px;
  width: 80px;
  font-size: 24px;
  border-radius: 20px;
  color: white;
  background-color: #ff7cf3;
  border: none;
  cursor: pointer;
  border: 1px solid black;
}
