@import url(../Constants.css);

.text-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--ht-text);
  background-color: var(--color-bg);
  margin: var(--m-2);
  border: 1px solid black;
  gap: var(--gap);
}

.text-box > input {
  height: 100%;
  width: 85%;
  border: none;
  outline: none;
  color: var(--color-3);
  font-size: var(fs-1);
  border-radius: var(--br);
  padding: var(--p-1) var(--p-2);
  font-size: var(--fs-1);
  border: 1px solid black;
}

.text-box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: var(--wt-text-icons);
  gap: var(--gap);
  border: 1px solid black;
  /* border-radius: var(--br); */
}

.text-box-container > label > img {
  height: var(--ht-img-1);
  width: var(--wt-img-1);
  margin: 10px;
  border-radius: var(--br);
  cursor: pointer;
  border: 1px solid black;
}

.text-box-container > button {
  width: var(--wt-btn);
  font-size: var(--fs-1);
  border-radius: var(--br);
  color: var(--color-white);
  background-color: var(--color-3);
  border: none;
  cursor: pointer;
  border: 1px solid black;
  margin: 10px;
}
