node_modules
dist
dist-ssr


/.pnp
.pnp.js
/coverage
/build

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.firebase
.github

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.local

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
