@import url(../Constants.css);

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--ht-vh);
  background-color: var(--color-bg);
}

.home-container {
  width: var(--wt-100-per);
  height: var(--ht-100-per);
  display: flex;
  overflow: hidden;
}
