.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffffa4;
}

.home-container {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}
